In [ ]:
!git clone https://github.com/WebNLG/GenerationEval.git

Cloning into 'GenerationEval'...
remote: Enumerating objects: 198, done.
remote: Counting objects: 100% (198/198), done.
remote: Compressing objects: 100% (107/107), done.
remote: Total 198 (delta 112), reused 168 (delta 88), pack-reused 0
Receiving objects: 100% (198/198), 1.49 MiB | 14.14 MiB/s, done.
Resolving deltas: 100% (112/112), done.

In [ ]:
import os
os.chdir('GenerationEval')

In [ ]:
!git checkout humaneval

Branch 'humaneval' set up to track remote branch 'humaneval' from 'origin'.
Switched to a new branch 'humaneval'

In [ ]:
import copy
import json
import numpy as np
import os
import pandas as pd
from scipy.stats import zscore
from statsmodels.stats.inter_rater import fleiss_kappa
from scipy.stats import ranksums

SYSTEMS_PATH = 'data/human_evaluation/ru_clean/'
REFERENCES_PATH = 'data/human_evaluation/data_REF.json'
DOMAIN_PATH = 'data/human_evaluation/ref2domain.json'

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Parsing the data

In [ ]:
rdfs = json.load(open(REFERENCES_PATH))
sys_files = [w for w in os.listdir(SYSTEMS_PATH) if not w.startswith('.')]
domains = json.load(open(DOMAIN_PATH))

doc_id = 1
data = []
for sys_file in sys_files:
    results = json.load(open(os.path.join(SYSTEMS_PATH, sys_file)))
    submission_id = sys_file.replace('.json', '').replace('human_eval_id_', '')

    for sample_id in results:
        entry = [w for w in rdfs['entries'] if list(w.keys())[0] == sample_id][0]
        for worker_id in results[sample_id]:
            assign = results[sample_id][worker_id]
            inp = {
                'id': doc_id,
                'sample_id': sample_id,
                'submission_id': submission_id,
                'worker_id': worker_id,
                'category': entry[sample_id]['category'],
                'size': entry[sample_id]['size'],
            }
            inp.update(assign)
            data.append(inp)
            doc_id += 1

# Inter-rater Agreement
## Fleiss' Kappa

Discretize the ratings in 5 categories

In [ ]:
n_cat, max_range = 5, 100 # number of categories
data_discretized = []

ids = [w['id'] for w in data]
correctness = [int((n_cat* w['Correctness']) / (max_range+1)) for w in data]
coverage = [int((n_cat* w['DataCoverage']) / (max_range+1)) for w in data]
fluency = [int((n_cat* w['Fluency']) / (max_range+1)) for w in data]
relevance = [int((n_cat* w['Relevance']) / (max_range+1)) for w in data]
structure = [int((n_cat* w['TextStructure']) / (max_range+1)) for w in data]
    
for i, id_ in enumerate(ids):
    for j, row in enumerate(data):
        if row['id'] == id_:
            row_ = copy.copy(row)
            row_['Correctness'] = correctness[i]
            row_['DataCoverage'] = coverage[i]
            row_['Fluency'] = fluency[i]
            row_['Relevance'] = relevance[i]
            row_['TextStructure'] = structure[i]
            data_discretized.append(row_)
            break

data_discretized = sorted(data_discretized, key=lambda x: x['id'])

Computing the Fleiss' Kappa agreements

In [ ]:
assignments = set([(w['submission_id'], w['sample_id']) for w in data_discretized])

correctness = np.zeros((len(assignments), n_cat))
coverage = np.zeros((len(assignments), n_cat))
fluency = np.zeros((len(assignments), n_cat))
relevance = np.zeros((len(assignments), n_cat))
structure = np.zeros((len(assignments), n_cat))

for i, (submission_id, sample_id) in enumerate(assignments):
    fdata = [w for w in data_discretized if w['submission_id'] == submission_id and w['sample_id'] == sample_id]
    
    for rating in fdata:
        correctness[i, rating['Correctness']-1] += 1
        coverage[i, rating['DataCoverage']-1] += 1
        fluency[i, rating['Fluency']-1] += 1
        relevance[i, rating['Relevance']-1] += 1
        structure[i, rating['TextStructure']-1] += 1      
        
pd.DataFrame({"Fleiss' Kappa": {
    'Correctness': fleiss_kappa(correctness),
    'Data Coverage': fleiss_kappa(coverage),
    'Fluency': fleiss_kappa(fluency),
    'Relevance': fleiss_kappa(relevance),
    'Text Structure': fleiss_kappa(structure),
}}).round(3)

                Fleiss' Kappa
Correctness             0.244
Data Coverage           0.435
Fluency                 0.156
Relevance               0.125
Text Structure          0.132

# Human Evaluation

Results of the human evaluation for the participating systems according to original ratings of correctness, data coverage, fluency, relevance and text structure.

In [ ]:
df = pd.DataFrame(data)

submissions = df.groupby("submission_id")["Correctness", "DataCoverage", "Fluency", "Relevance", "TextStructure"]
submissions.agg([np.mean, np.std]).sort_values(by=('Correctness', 'mean'), ascending=False).round(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

               Correctness         DataCoverage  ... Relevance TextStructure
                      mean     std         mean  ...       std          mean     std
submission_id                                    ...
bt5                 95.594  11.577       95.630  ...    11.676        95.745  11.601
FBConvAI            90.779  17.901       92.339  ...    17.440        93.764  14.286
rus_REF             90.630  18.217       94.000  ...    14.852        92.082  17.564
cuni_ufal           90.382  20.700       93.155  ...    17.177        96.073  11.017
pavel_med           88.585  21.181       82.230  ...    16.161        91.309  18.479
Huawei              87.033  23.697       86.448  ...    19.421        89.515  21.019
OSU_Neural_NLG      84.830  25.781       82.836  ...    20.299        92.958  17.266
BASELINE            80.830  25.715       93.191  ...    19.648        87.645  21.338

[8 rows x 10 columns]

# Human Evaluation (Z-Scores)

Results of the human evaluation for the participating systems according to normalized z-scores for correctness, data coverage, fluency, relevance and text structure.

In [ ]:
normdata = []
worker_ids = set([w['worker_id'] for w in data])
for worker_id in worker_ids:
    fdata = [w for w in data if w['worker_id'] == worker_id]
    
    ids = [w['id'] for w in fdata]
    correctness = zscore([w['Correctness'] for w in fdata])
    coverage = zscore([w['DataCoverage'] for w in fdata])
    fluency = zscore([w['Fluency'] for w in fdata])
    relevance = zscore([w['Relevance'] for w in fdata])
    structure = zscore([w['TextStructure'] for w in fdata])
    
    for i, id_ in enumerate(ids):
        for j, row in enumerate(data):
            if row['id'] == id_:
                row_ = copy.copy(row)
                row_['Correctness'] = correctness[i]
                row_['DataCoverage'] = coverage[i]
                row_['Fluency'] = fluency[i]
                row_['Relevance'] = relevance[i]
                row_['TextStructure'] = structure[i]
                normdata.append(row_)
                break
                
df = pd.DataFrame(normdata)

submissions = df.groupby("submission_id")["Correctness", "DataCoverage", "Fluency", "Relevance", "TextStructure"]
submissions.agg([np.mean, np.std]).sort_values(by=('Correctness', 'mean'), ascending=False).round(3)

/usr/local/lib/python3.6/dist-packages/scipy/stats/stats.py:2419: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

               Correctness        DataCoverage  ... Relevance TextStructure
                      mean    std         mean  ...       std          mean    std
submission_id                                   ...
bt5                  0.340  0.586        0.312  ...     0.696         0.219  0.658
rus_REF              0.109  0.794        0.230  ...     0.814        -0.005  0.969
cuni_ufal            0.101  0.951        0.204  ...     0.891         0.218  0.690
FBConvAI             0.080  0.833        0.133  ...     0.967         0.079  0.808
pavel_med            0.021  1.009       -0.470  ...     1.001        -0.077  1.195
Huawei              -0.084  1.111       -0.189  ...     1.110        -0.183  1.211
OSU_Neural_NLG      -0.181  1.179       -0.422  ...     1.242         0.019  0.998
BASELINE            -0.387  1.213        0.200  ...     1.134        -0.270  1.192

[8 rows x 10 columns]

In [ ]:
import json
submission_ids = sorted(list(set([w['submission_id'] for w in normdata])))
sample_ids = sorted(list(set([w['sample_id'] for w in normdata])), key=lambda x: int(x))

finaldata = []
for submission_id in submission_ids:
  for sample_id in sample_ids:
    fdata = [w for w in normdata if w['submission_id'] == submission_id and w['sample_id'] == sample_id]

    if len(fdata) > 0:
      finaldata.append({
        'submission_id': submission_id,
        'size': fdata[0]['size'],
        'sample_id': sample_id,
        'category': fdata[0]['category'],
        'Correctness': np.nan_to_num(np.mean(np.nan_to_num([w['Correctness'] for w in fdata]))),
        'DataCoverage': np.nan_to_num(np.mean(np.nan_to_num([w['DataCoverage'] for w in fdata]))),
        'Fluency': np.nan_to_num(np.mean(np.nan_to_num([w['Fluency'] for w in fdata]))),
        'Relevance': np.nan_to_num(np.mean(np.nan_to_num([w['Relevance'] for w in fdata]))),
        'TextStructure': np.nan_to_num(np.mean(np.nan_to_num([w['TextStructure'] for w in fdata])))
      })

json.dump(finaldata, open('russian_data.json', 'w'), separators=(',', ':'), indent=4)

# Statistical Testing

## Wilcoxon rank-sum significant test

In [ ]:
def parse(data, normdata):
    correctness, coverage, fluency, relevance, structure = {}, {}, {}, {}, {}
    normcorrectness, normcoverage, normfluency, normrelevance, normstructure = {}, {}, {}, {}, {}

    submission_ids = sorted(list(set([w['submission_id'] for w in data])))
    sample_ids = sorted(list(set([w['sample_id'] for w in data])), key=lambda x: int(x))
    for i, submission_id in enumerate(submission_ids):
        if submission_id not in correctness:
            correctness[submission_id] = []
            coverage[submission_id] = []
            fluency[submission_id] = []
            relevance[submission_id] = []
            structure[submission_id] = []

            normcorrectness[submission_id] = []
            normcoverage[submission_id] = []
            normfluency[submission_id] = []
            normrelevance[submission_id] = []
            normstructure[submission_id] = []
        
        for sample_id in sample_ids:
          fdata = [w for w in data if w['submission_id'] == submission_id and w['sample_id'] == sample_id]
          fnormdata = [w for w in normdata if w['submission_id'] == submission_id and w['sample_id'] == sample_id]

          correctness[submission_id].append(np.mean([w['Correctness'] for w in fdata]))
          coverage[submission_id].append(np.mean([w['DataCoverage'] for w in fdata]))
          fluency[submission_id].append(np.mean([w['Fluency'] for w in fdata]))
          relevance[submission_id].append(np.mean([w['Relevance'] for w in fdata]))
          structure[submission_id].append(np.mean([w['TextStructure'] for w in fdata]))

          # Average the z-scores (setting nans to zeros) of the three turkers for each trial of each system
          normcorrectness[submission_id].append(np.mean(np.nan_to_num([w['Correctness'] for w in fnormdata])))
          normcoverage[submission_id].append(np.mean(np.nan_to_num([w['DataCoverage'] for w in fnormdata])))
          normfluency[submission_id].append(np.mean(np.nan_to_num([w['Fluency'] for w in fnormdata])))
          normrelevance[submission_id].append(np.mean(np.nan_to_num([w['Relevance'] for w in fnormdata])))
          normstructure[submission_id].append(np.mean(np.nan_to_num([w['TextStructure'] for w in fnormdata])))
    return correctness, coverage, fluency, relevance, structure, \
            normcorrectness, normcoverage, normfluency, normrelevance, normstructure
    
def rank_systems(X, raw_X, name):
    submissions = sorted(X.keys(), key=lambda x: np.mean(X[x]), reverse=True)
    ranking = { s:1 for i, s in enumerate(submissions) }

    for i, subA in enumerate(submissions):
        for j, subB in enumerate(submissions[i+1:]):
            s, pvalue = ranksums(X[subA], X[subB])
            if pvalue < 0.05:
                ranking[subB] = ranking[subA] + 1
            elif ranking[subB] < ranking[submissions[i+1+j-1]] :
                ranking[subB] = ranking[submissions[i+1+j-1]] 

    ranking_ = {}
    for sub in ranking:
        rank = ranking[sub]
        normmean = np.mean(X[sub])
        mean = np.mean(raw_X[sub])
        ranking_[sub] = { 'Ranking': int(rank), name + ' (Z.)': round(normmean, 3), name: round(mean, 3) }

    return ranking_

correctness, coverage, fluency, relevance, structure, \
      normcorrectness, normcoverage, normfluency, normrelevance, normstructure = parse(data, normdata)

### All Data

In [ ]:
pd.DataFrame(rank_systems(normcorrectness, correctness, 'Correctness')).T.sort_index(axis=0, key=lambda x: x.str.lower())

                Ranking  Correctness (Z.)  Correctness
BASELINE            4.0            -0.387       80.830
bt5                 1.0             0.340       95.594
cuni_ufal           2.0             0.101       90.382
FBConvAI            2.0             0.080       90.779
Huawei              2.0            -0.084       87.033
OSU_Neural_NLG      3.0            -0.181       84.830
pavel_med           2.0             0.021       88.585
rus_REF             2.0             0.109       90.630

In [ ]:
def format_column(column):
  return [str(val).replace(',', '.') for val in column]

correctness_all = pd.DataFrame(rank_systems(normcorrectness, correctness, 'Correctness')).T.sort_index(axis=0, key=lambda x: x.str.lower())
correctness_all[['Ranking', 'Correctness', 'Correctness (Z.)']] = correctness_all[['Ranking', 'Correctness', 'Correctness (Z.)']].apply(format_column)
correctness_all.to_excel('./correctness_all.xlsx', header=False, index=False)

In [ ]:
pd.DataFrame(rank_systems(normcoverage, coverage, 'Coverage')).T.sort_index(axis=0, key=lambda x: x.str.lower())

                Ranking  Coverage (Z.)  Coverage
BASELINE            1.0          0.200    93.191
bt5                 1.0          0.312    95.630
cuni_ufal           1.0          0.203    93.155
FBConvAI            1.0          0.133    92.339
Huawei              2.0         -0.189    86.448
OSU_Neural_NLG      2.0         -0.422    82.836
pavel_med           3.0         -0.467    82.230
rus_REF             1.0          0.230    94.000

In [ ]:
coverage_all = pd.DataFrame(rank_systems(normcoverage, coverage, 'Coverage')).T.sort_index(axis=0, key=lambda x: x.str.lower())
coverage_all[['Ranking', 'Coverage', 'Coverage (Z.)']] = coverage_all[['Ranking', 'Coverage', 'Coverage (Z.)']].apply(format_column)
coverage_all.to_excel('./coverage_all.xlsx', header=False, index=False)

In [ ]:
pd.DataFrame(rank_systems(normfluency, fluency, 'Fluency')).T.sort_index(axis=0, key=lambda x: x.str.lower())

                Ranking  Fluency (Z.)  Fluency
BASELINE            3.0        -0.247   84.691
bt5                 1.0         0.232   93.088
cuni_ufal           1.0         0.213   92.921
FBConvAI            2.0         0.063   90.248
Huawei              3.0        -0.174   85.679
OSU_Neural_NLG      2.0        -0.050   88.558
pavel_med           2.0        -0.060   88.252
rus_REF             2.0         0.022   89.021

In [ ]:
fluency_all = pd.DataFrame(rank_systems(normfluency, fluency, 'Fluency')).T.sort_index(axis=0, key=lambda x: x.str.lower())
fluency_all[['Ranking', 'Fluency', 'Fluency (Z.)']] = fluency_all[['Ranking', 'Fluency', 'Fluency (Z.)']].apply(format_column)
fluency_all.to_excel('./fluency_all.xlsx', header=False, index=False)

In [ ]:
pd.DataFrame(rank_systems(normrelevance, relevance, 'Relevance')).T.sort_index(axis=0, key=lambda x: x.str.lower())

                Ranking  Relevance (Z.)  Relevance
BASELINE            2.0          -0.079     91.294
bt5                 1.0           0.174     95.385
cuni_ufal           1.0           0.077     93.306
FBConvAI            2.0           0.027     93.491
Huawei              2.0          -0.060     91.761
OSU_Neural_NLG      2.0          -0.182     90.433
pavel_med           2.0          -0.022     92.224
rus_REF             2.0           0.065     93.636

In [ ]:
relevance_all = pd.DataFrame(rank_systems(normrelevance, relevance, 'Relevance')).T.sort_index(axis=0, key=lambda x: x.str.lower())
relevance_all[['Ranking', 'Relevance', 'Relevance (Z.)']] = relevance_all[['Ranking', 'Relevance', 'Relevance (Z.)']].apply(format_column)
relevance_all.to_excel('./relevance_all.xlsx', header=False, index=False)

In [ ]:
pd.DataFrame(rank_systems(normstructure, structure, 'Text Structure')).T.sort_index(axis=0, key=lambda x: x.str.lower())

                Ranking  Text Structure (Z.)  Text Structure
BASELINE            3.0               -0.270          87.645
bt5                 1.0                0.219          95.745
cuni_ufal           1.0                0.218          96.073
FBConvAI            2.0                0.079          93.764
Huawei              3.0               -0.183          89.515
OSU_Neural_NLG      2.0                0.019          92.958
pavel_med           2.0               -0.077          91.309
rus_REF             2.0               -0.005          92.082

In [ ]:
structure_all = pd.DataFrame(rank_systems(normstructure, structure, 'Text Structure')).T.sort_index(axis=0, key=lambda x: x.str.lower())
structure_all[['Ranking', 'Text Structure (Z.)', 'Text Structure']] = structure_all[['Ranking', 'Text Structure (Z.)', 'Text Structure']].apply(format_column)
structure_all.to_excel('./structure_all.xlsx', header=False, index=False)